<!-- src/app/components/livraison/livraison-form/livraison-form.component.html -->
<div class="form-wrapper">
    <h2>Nouvelle Livraison</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
  
      <div class="row">
        <label>
          Date & heure
          <input type="datetime-local" formControlName="dateLivraison"/>
        </label>
  
        <label>
          N° de commande
          <input type="number" formControlName="commandeId"/>
        </label>
      </div>
  
      <div class="row">
        <label>
          Adresse de livraison
          <input type="text" formControlName="adresseLivraison"/>
        </label>
  
        <label>
          Téléphone client
          <input type="tel" formControlName="telephoneClient"/>
        </label>
      </div>
  
      <div class="row">
        <label>
          Méthode de paiement
          <input type="text" formControlName="methodePaiement"/>
        </label>
  
        <label>
          Montant total (DT)
          <input type="number" formControlName="prixTotal" step="0.01"/>
        </label>
      </div>
  
      <!--  <div class="row">
        <label>
          Livreur
          <select formControlName="livreurId">
          <option [ngValue]="null">-- Sélectionnez --</option>
            <option *ngFor="let l of livreurs" [ngValue]="l.id"> 
            {{ l.prenom }} {{ l.nom }}
            </option>
          </select>
        </label> -->
  
       <!--   <label>
          État
          <select formControlName="etatLivraisonId">
            <option [ngValue]="null">-- Sélectionnez --</option>
            <option *ngFor="let e of etats" [ngValue]="e.id">
              {{ e.libelle }}
            </option>
          </select>
        </label> 
      </div> -->
  
      <div class="actions">
        <button type="submit" [disabled]="form.invalid">Créer</button>
        <button type="button" (click)="cancel()">Annuler</button>
      </div>
    </form>
  </div>
  